header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin-top: 0px;
  margin-bottom: : 5px;
  padding-top: 0px;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 5;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo img {
  padding-right: 20px;
}

.logo span {
  color: MediumAquamarine;
}

nav {
  padding-right: 30px;
}

nav span {
  padding-right: 20px;
}

.content {
  display: flex;
  position: relative;
  top: 120px;
  z-index: 1;
  margin: 0 auto;
}

.large {
  width: 630px;
  border: 1px solid black;
  font-family: Georgia;
}

.bottom {
  display: flex;
}

.medium {
  width: 300px;
  border: 1px solid black;
}

.small {
  width: 240px;
  border: 1px solid black;
}

.main-image {
  display: flex;
  background-image: url("d:users/paul/cloudstation/projects/my-times/resources/images/main-story.png");
  width: 100%;
  height: 300px;

}

.main-image span {
  font-family: Georgia;
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.main-story p {
  color: black;
  font-size: 17px;
}

.image-left {
  display: flex;
  background-image: url("d:users/paul/cloudstation/projects/my-times/resources/images/earth-spin.png");
  width: 100%;
  height: 300px;

}

.image-left span {
  font-family: Georgia;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.image-right {
  display: flex;
  background-image: url("d:users/paul/cloudstation/projects/my-times/resources/images/man-camera.png");
  width: 100%;
  height: 300px;
}

.image-right span {
  font-family: Georgia;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.cats {
  background-image: url("d:users/paul/cloudstation/projects/my-times/resources/images/cat.png");
  width: 100%;
  height: 300px;
}

.cats span {
  font-family: Georgia;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.list p {
  border-bottom: 1px solid black;
}
